* {
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	font-size: 14px;
	background-color: #edeef0;
}

div {
	display: block;
}

	.wrapper {
		width: 970px;
		padding: 0px 15px;
		background-color: #edeef0;
		margin: 0px auto 0px auto;
	}
		/*
		.header {
			background-color: #4a76a8;
			height: 42px;
			width: 100%;
			position: fixed;
			top: 0px;
			font-size: 12.5px;
		}*/

			.logo, .search, .notification, .onMusic {
				float: left;
				height: inherit;
			}
			.logo {
				width: 165px;
			}

			.search {
				width: 230px;
			}

			.notification {
				width: 46px;
				padding-left: 15px;
			}

			.user {
				width:inherit;
				height: inherit;
			}
	
		.menu {
			width: 150px;
			height: 500px;  /* тут потом поменять в зависимости от кол-ва открытых в опциях страниц */
			float: left;
			top: 0px;
			color: #557790;
		}

		.content {
			width: 795px;
			float: left;
		}

			.contentCenter {
				width: 550px;
				padding: 15px;
				float: left;
			}

			.contentRight {
				width: 230px;
				padding: 15px 0px 15px 0px;
				float: left;
			}

	
